.otp{
    &-sent{
        font-size: 0.6rem;
    }
    &-input{
        border-bottom: 0.1rem solid var(--ion-color-primary);;
        font-weight: 600;
        font-size: 1.6rem;
        color: var(--ion-color-primary);
        text-align: center;
    }
    &-continue{
        margin-top: 5vh;
    }
}
.center{
    text-align: center;
}