<ion-header>
  <ion-toolbar>
    <ion-title>otp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" slot="fixed">



  <form [formGroup]="otpForm" (ngSubmit)="onSubmit()">
    <ion-item lines="none">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="2">
            <ion-input formControlName="otp1" class="otp-input" type="text" maxlength=1 (keyup)="moveFocus($event,b,'')"
              oninput="this.value=this.value.replace(/[^0-9]/g,'');" inputmode="tel">
            </ion-input>
          </ion-col>
          <ion-col size="2">
            <ion-input maxlength formControlName="otp2" class="otp-input" type="text" maxlength=1 #b
              (keyup)="moveFocus($event,c,b)" oninput="this.value=this.value.replace(/[^0-9]/g,'');" inputmode="tel">
            </ion-input>
          </ion-col>
          <ion-col size="2">
            <ion-input formControlName="otp3" class="otp-input" type="text" maxlength="1" #c
              (keyup)="moveFocus($event,d,c)" oninput="this.value=this.value.replace(/[^0-9]/g,'');" inputmode="tel">
            </ion-input>
          </ion-col>
          <ion-col size="2">
            <ion-input formControlName="otp4" class="otp-input" type="text" maxlength="1" #d
              (keyup)="moveFocus($event,e,d)" oninput="this.value=this.value.replace(/[^0-9]/g,'');" inputmode="tel">
            </ion-input>
          </ion-col>
          <ion-col size="2">
            <ion-input formControlName="otp5" class="otp-input" type="text" maxlength="1" #e
              (keyup)="moveFocus($event,f,e)" oninput="this.value=this.value.replace(/[^0-9]/g,'');" inputmode="tel">
            </ion-input>
          </ion-col>
          <ion-col size="2">
            <ion-input formControlName="otp6" class="otp-input" type="text" maxlength="1" #f
              (keyup)="moveFocus($event,'',f)" oninput="this.value=this.value.replace(/[^0-9]/g,'');" inputmode="tel">
            </ion-input>
          </ion-col>
        </ion-row>


      </ion-grid>
    </ion-item><br><br>
    <div class="center">
      <ion-button type="submit" color="primary">
        VERIFY AND PROCEED

      </ion-button>
    </div>



  </form>
</ion-content>