<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Join TransXpress</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="center"><img src="../../../../assets/icons8-truck-64.png"></ion-card-subtitle>
      <ion-card-title>Truck Owner</ion-card-title>
    </ion-card-header>
    <ion-card-content>
     Register and create Profile to get more leads
     <div class="center">
      <ion-button (click)="RegisterOwner()" color="primary" style="margin-top: 5vh;">Register Now</ion-button>
    </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Vendor</ion-card-title>
    </ion-card-header>
    <ion-card-content>
     Register and create Profile for a Solution
     <div class="center">
      <ion-button (click)="RegisterVendor()" color="primary" style="margin-top: 5vh;">Register Now</ion-button>
    </div>
    </ion-card-content>
  </ion-card>
</ion-content>
