<ion-header>
  <ion-toolbar>
    <ion-button color="light" (click)="dismissRegister()" slot='end' size='small'>Close</ion-button>
    <ion-title style="text-align: center">Join TransXpress</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form #form="ngForm" (ngSubmit)="register(form)" method="post">
    <ion-item>
      <ion-label position="floating">Transport Name <ion-text color="danger"><b>*</b></ion-text></ion-label>
      <ion-input ngModel name="tname"></ion-input>
  </ion-item>

    <ion-item>
        <ion-label position="floating">First Name <ion-text color="danger"><b>*</b></ion-text></ion-label>
        <ion-input ngModel name="fName"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Last Name </ion-label>
      <ion-input ngModel name="lName"></ion-input>
    </ion-item>
  
    

    <ion-item>
      <ion-label position="floating">Mobile Number <ion-text color="danger"><b>*</b></ion-text></ion-label>
      <ion-input type="number" ngModel name="mobilenumber"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">No Of Trucks</ion-label>
      <ion-input type="number" ngModel name="noOfTrucks"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label >Contact Details</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Address<ion-text color="danger"><b>*</b></ion-text></ion-label>
      <ion-input type="text" ngModel name="line1" placeholder='Line 1'></ion-input>
     
    </ion-item>

    <ion-item>
     
      <ion-input type="text" ngModel name="line2" placeholder="Line 2"></ion-input>
     
    </ion-item>

    <ion-item>
      <ion-label position="floating">State <ion-text color="danger"><b>*</b></ion-text></ion-label>
      <ion-select (ionChange)="setDistrictValues($event)"[(ngModel)]="sState"  name='state'>
        <ion-select-option [value]="sState" *ngFor="let sState of states">{{sState.name}} </ion-select-option>
    </ion-select>
    </ion-item>
    
    <ion-item *ngIf="selectedDistricts">
      <ion-label>District <ion-text color="danger"><b>*</b></ion-text></ion-label>
      <ion-select (ionChange)="setCityValues($event)" [(ngModel)]="sDistrict" name="district">
          <ion-select-option [value]="sDistrict" *ngFor="let sDistrict of selectedDistricts">{{sDistrict.name}}</ion-select-option>
      </ion-select>
   </ion-item>

   <ion-item *ngIf="selectedCities">
    <ion-label>City <ion-text color="danger"><b>*</b></ion-text></ion-label>
    <ion-select (ionChange)="setAreaValues($event)" [(ngModel)]="city" name="city">
        <ion-select-option [value]="city" *ngFor="let city of selectedCities">{{city.name}}</ion-select-option>
    </ion-select>
 </ion-item>

    <ion-item *ngIf="selectedAreas">
      <ion-label position="floating">Area <ion-text color="danger"><b>*</b></ion-text></ion-label>
      <ion-select  [(ngModel)]="area" name="area">
        <ion-select-option [value]="area" *ngFor="let area of selectedAreas">{{area.name}}</ion-select-option>
    </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Other Details</ion-label>
      <ion-input type="text" ngModel name="other"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Pan No <ion-text color="danger"><b>*</b></ion-text></ion-label>
      <ion-input type="text" ngModel name="pan"></ion-input>
    </ion-item>

    <ion-item lines='none'>
      <ion-text >I agree <u>Terms of service</u> and <u>Privacy Policy</u></ion-text>
      <ion-checkbox  [checked]="agree"    slot="start" required></ion-checkbox>
    </ion-item>

    <ion-button type="submit" expand="full" color="primary">Register</ion-button>
  </form>
  <p style="text-align:center">Already have a account?</p>
  <ion-button expand="full" color="warning" (click)="loginModal()">Login</ion-button>
</ion-content> 