<ion-header>
  <ion-toolbar>
    <!-- <ion-button color="light" (click)="dismissLogin()" slot='end' size='small'>Close</ion-button> -->
    <ion-title style='text-align: center'>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content slot="fixed" class="ion-padding">
  <img src="../../../../assets/TransExpress-White-690x388.jpg" />
  <form #form="ngForm" (ngSubmit)="login(form)" method="post">
    <ion-item>
      <ion-label position="floating">Mobile Number</ion-label>
      <ion-input ngModel type="tel" maxlength="10" name="mobile"></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input ngModel type="password" name="password"></ion-input>
    </ion-item>

    <ion-item lines='none'>
        <p style="text-align:left">  Forgot Password?</p>
      <ion-button  slot="end" (click)="onSubmit()">
        <span >Get OTP</span>
      </ion-button>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">OTP</ion-label>
      <ion-input ngModel type="number" name="otp"></ion-input>
    </ion-item> -->



    <div class="center">
      <ion-button type="submit" color="primary" style="margin-top: 5vh;">Submit</ion-button>
    </div>
    
  </form>

  <!-- <p style="text-align:center">Don't have a account?</p>
  <ion-button expand="block" color="warning" (click)="registerModal()">Register</ion-button> -->
</ion-content>